.pure-img-responsive {
    max-width: 100%;
    height: auto;
}

/*
Add transition to containers so they can push in and out.
*/
#layout,
#menu,
.menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

/*
This is the parent `<div>` that contains the menu and the content area.
*/
#layout {
    position: relative;
    padding-left: 0;
	
}
    #layout.active #menu {
        left: 300px;
        width: 300px;
    }

    #layout.active .menu-link {
        left: 300px;
    }
	
#menu .pure-menu ul li ul { margin-left: 0px; display: block; padding: 0px; font-size: 14px;}		
	
/*
The content `<div>` is where all your content goes.
*/


.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.1em 0;
        font-size: 3em;
        font-weight: 300;
        line-height: 80px;
    }
     .header h2 {
        font-weight: 300;
        color: #893e0f;
        padding: 0;
        margin-top: -10px;
        margin-bottom: 25px;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #893e0f;
}



/*
The `#menu` `<div>` is the parent `<div>` that contains the `.pure-menu` that
appears on the left side of the page.
*/

#menu {
    margin-left: -300px; /* "#menu" width */
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000; /* so the menu or its navicon stays above all content */
    background: #fff;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    opacity: 0.8;
    overflow-x: hidden;
	height:100%; !important
    
}
    /*
    All anchors inside the menu should be styled like this.
    */
    #menu a {
        color: #4a2e23;
        border: none;
        padding: 0.6em 0 0.6em 0em;
        text-align: right;
        line-height: 32px;
        font-weight: normal;
    }

    /*
    Remove all background/borders, since we are applying them to #menu.
    */
     #menu .pure-menu,
     #menu .pure-menu ul {
        border: none;
        background: transparent;
        list-style: none;
        width: 200px;
    }
	#menu .pure-menu ul{
	-webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: -25px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
	
	padding: 0px;
	margin-left: -25px;
	margin-top:0px;
	margin-bottom:0px;
	}
#menu .pure-menu ul li{
	text-align: right;    }
    /*
    Add that light border to separate items into groups.
    */
    #menu .pure-menu ul,
    #menu .pure-menu .menu-item-divided {
    }
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            color:  #893e0f;
            padding: 0 0px;
            font-weight: normal;
            
        }

    /*
    This styles the selected menu item `<li>`.
    */
    #menu .pure-menu-selected,
    #menu .pure-menu-heading {
        background: #fff;
    }
        /*
        This styles a link within a selected menu item `<li>`.
        */
        #menu .pure-menu-selected a {
            color: #000;
        }

    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 100%;
        color: #fff;
        margin: 0;
		height:250px;
    }

/* -- Dynamic Button For Responsive Menu -------------------------------------*/

/*
The button to open/close the Menu is custom-made and not part of Pure. Here's
how it works:
*/

/*
`.menu-link` represents the responsive menu toggle that shows/hides on
small screens.
*/
.menu-link {
    position: fixed;
    display: block; /* show this only on small screens */
    top: 0;
    left: 0; /* "#menu width" */
    background: #000;
    background: rgba(0,0,0,0.7);
    font-size: 10px; /* change this value to increase/decrease button size */
    z-index: 10;
    width: 2em;
    height: auto;
    padding: 2.1em 1.6em;
}

    .menu-link:hover,
    .menu-link:focus {
        background: #000;
    }

    .menu-link span {
        position: relative;
        display: block;
    }

    .menu-link span,
    .menu-link span:before,
    .menu-link span:after {
        background-color: #fff;
        width: 100%;
        height: 0.2em;
    }

        .menu-link span:before,
        .menu-link span:after {
            position: absolute;
            margin-top: -0.6em;
            content: " ";
        }

        .menu-link span:after {
            margin-top: 0.6em;
        }


/* -- Responsive Styles (Media Queries) ------------------------------------- */

/*
Hides the menu at `48em`, but modify this based on your app's needs.
*/
@media (min-width: 48em) {

    .header,
    .content,
	div.wrapper{
        padding-left: 4em;
        padding-right: 4em;
    }
	
	div.wrapper {
		margin-top: 2em;
		margin-bottom: 2em;
		
	}
	
    #layout {
        padding-left: 300px; /* left col width "#menu" */
        left: 0;
    }
    #menu {
        left: 300px;
    }

    .menu-link {
        position: fixed;
        left: 150px;
        display: none;
    }

    #layout.active .menu-link {
        left: 150px;
    }
    .header h2 { 
        margin-top: -10px;
       }
      
}

@media (max-width: 48em) {
    /* Only apply this when the window is small. Otherwise, the following
    case results in extra padding on the left:
        * Make the window small.
        * Tap the menu to trigger the active state.
        * Make the window large again.
    */
    #layout.active {
        position: relative;
        left: 150px;
    }
	    .header,
    .content,
	div.wrapper{
        padding-left: 2em;
        padding-right: 2em;
    }
   

}